@import "./base.scss";
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 24px;
  &:hover {
    background: var(--secondary-color);
  }
}
.hero-section {
  width: 100vw;
  height: calc(90vh - 50px);
  color: #fff !important;
  color: rgb(83, 83, 255);
  .texts {
    .h3 {
      font-size: 50px;
    }
    .h2 {
      font-size: 70px;
    }
    .h1 {
      font-size: 150px;
    }
  }
}

.swiper-slide {
  display: flex !important;
}
.category-slider {
  position: relative;
  top: -90px;
  user-select: none;
  cursor: pointer;
  .card {
    height: 150px;
    width: 200px;
    background: var(--third-color);
    border-radius: 15px;
    border: none !important;
    box-shadow: 0 0 10px rgba($color: #1c1c1c, $alpha: 0.3);
    .card-title {
      max-width: 115px;
      text-align: center;
      font-weight: 700;
    }
  }
}
.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  scale: 0.5 !important;
  width: 80px !important;
  height: 80px !important;
  top: var(--swiper-navigation-top-offset, 40%) !important;
  color: black !important;
  border-radius: 50% !important;
  border: 2px solid red !important;
  transition: 0.5s !important;
  &:hover {
    background: rgb(255, 45, 45) !important;
    color: #fff !important;
  }
}

.courses-for-home-section {
  .card-img-top {
    padding: 7px;
    position: relative;
    width: 100%;
    object-fit: contain;
    height: 200px;
    overflow: hidden;
  }
  .card-title {
    height: 30px !important;
    overflow: hidden !important;
  }
  .card-text {
    height: 118px !important;
    overflow: hidden !important;
    line-height: 28px !important;
    letter-spacing: 0px !important;
  }
  .card-btn {
    position: absolute;
    left: 248px;
    top: 92.7%;
    background: var(--fourth-color);
    border-bottom-right-radius: 7px;
    border-top-left-radius: 20px;
    width: 40px;
    height: 30px;
    .card__arrow svg {
      transition: 0.3s !important;
    }
    &:hover .card__arrow svg {
      transform: translateX(3px);
    }
  }
}
.single-course-page {
  .btn {
    border: none;
    outline: none;
    background: var(--fourth-color);
    color: #fff;
    padding: 10px 15px;
    letter-spacing: 1px;
    transition: 0.4s;
    font-weight: 400;
    &:hover {
      background: var(--secondary-color);
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 575px) {
  .hero-section {
    .texts {
      .h3 {
        font-size: 40px;
      }
      .h2 {
        font-size: 55px;
      }
      .h1 {
        font-size: 110px;
      }
    }
    .img-container {
      img {
        width: 360px;
      }
    }
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .hero-section {
    .texts {
      .h3 {
        font-size: 40px;
      }
      .h2 {
        font-size: 55px;
      }
      .h1 {
        font-size: 108px;
      }
    }
  }
}
